@font-face {
    font-family: 'AktivGroteskW06';
    src: url('AktivGroteskW06-Regular.woff2') format('woff2'),
        url('AktivGroteskW06-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

